<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Editar Produto</title>
</head>
<body>
    <h1>Editar Produto</h1>
    <form action="{{ url_for('edit_product', produto_id=produto['id']) }}" method="post">
        Nome: <input type="text" name="nome" value="{{ produto['nome'] }}"><br>
        Categoria: <input type="text" name="categoria" value="{{ produto['categoria'] }}"><br>
        Preço: <input type="text" name="preco" value="{{ produto['preco'] }}"><br>
        Quantidade: <input type="text" name="quantidade" value="{{ produto['quantidade'] }}"><br>
        <input type="submit" value="Salvar">
    </form>
    <a href="{{ url_for('index') }}">Voltar à lista de produtos</a>
</body>
</html>
